<!DOCTYPE html>
<html>
<head>
	<title>{{team}}</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/jpg" href="../images/logo.jpg">
	<link rel="stylesheet" type="text/css" href="style/dashboard.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script
				  src="https://code.jquery.com/jquery-3.3.1.min.js"
				  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				  crossorigin="anonymous"></script>
</head>
<body>
	<div class="contain">
		<div class="container">
	<nav class="nav navbar-custom">
		<div class="container-fluid" id="heading">
			<div class="nav navbar-header">
				<nav class="navbar-brand"><a href="/"><img src="../images/logo.jpg" style="height:70px;width:70px;border-radius: 100%;"></a></nav>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/team" style="background: white;color: black;">Team</a></li>
				<li><a href="/">Dashboard</a></li>
				<li><a href="/about">About Conectar</a></li>
				<li><a href="/contact">Query</a></li>
				<li><a href="/chat">Chat</a></li>
				<li><a href="/users/logout">LogOut</a></li>
			</ul>
		</div>
	</nav>
</div>
</div>
<div class="col-md-12" style="background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../images/team.jpg);height: 300px;box-shadow:0 0 10px black;background-size: 100%;">
			<h1 style="text-align: center;margin-top:8%; color: white;font-size: 50px;font-family: serif;">
				Family
			</h1>
</div>
<div>
<center>
	<h1 style="font-size: 50px;">Think Big!!</h1>
	<p style="font-size: 20px;">"Conectar is our Vision to guide others like us to be a part of the biggest revolution ahead of us..."</p>
</center>
</div>
<div class="container-fluid">
		<img src="../images/vishal.jpg" style="width:17%;height:180px;margin-left:25%;margin-top:3%;">	
		<img src="../images/vipul.jpg" style="width: 15%;height:180px;margin-left:1%;margin-top:3%;">	
		<img src="../images/ayush.png" style="width: 15%;height:180px;margin-left:1%;margin-top:3%;"><br>
		<img src="../images/jayesh.jpg" style="width: 15%;height:180px;margin-left:32%;margin-top:3%;">
		<img src="../images/sudhanshu.jpg" style="width:15%;height:180px;margin-left:1%;margin-top:3%;"><br>
		<img src="../images/demo.jpg" style="width:15%;height:180px;margin-left:40%;margin-top:3%;">
		<h3 style="text-align: center;">You Can Also become a part of Family...</h3>	
</div>
<div style="background: #F8F9F9;">
<center>
	<h1 style="padding-top: 5%;">Conectar is Growing</h1>
	<h1 style="padding-bottom: 3%;">Join Us...</h1>
</center>
</div>
</body>
</html>