<!DOCTYPE html>
<html>
<head>
	<title>sudhanshu127</title>
	<link rel="stylesheet" type="text/css" href="/style/hint.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="/js/app.js"></script>
	{{!-- <link rel="stylesheet" type="text/css" href="style/dashboard.css"> --}}
	{{!-- <link rel="stylesheet" type="text/css" href="style/contact.css"> --}}
	<link rel="stylesheet" type="text/css" href="style/styling.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	
	<!-- <script src="js/search.js"></script> -->
	<!-- <script src="js/dashboard.js"></script> -->
	<script
				  src="https://code.jquery.com/jquery-3.3.1.min.js"
				  ></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/jquery.sticky.js"></script>
	
	<script>
  			$(document).ready(function(){
    		$("#sticker").sticky({topSpacing:72});
    		$("#nav").scrollspy({ offset: -111 });
    		// $('.btn').sticky({topSpacing:110,class:'connect-sticky'});
  		});
	</script>
	<script>
		$(document).on( 'scroll', function(){
			// console.log("This");
			if($(document).scrollTop()>($('.profile-pic').offset().top-$('.nav-header').height()+$('.profile-pic').height()))
			{
				$('.left-profile-about').addClass("isSticky");
				// $('.left-profile-about').addClass("isSticky");
				// $('.left-profile-about').addClass("isSticky");
			}
			else
			{
				$('.left-profile-about').removeClass('isSticky');
			}
			// if($(document).scrollTop()>$('.profile-pic').offset().top-$('.nav-header').height())
			if($(document).scrollTop()>($('.btn').offset().top-110+$('.btn').height()))
			{
				$('.left-profile-about').addClass("isStickybutton");
				
			}
			else
			{
				$('.left-profile-about').removeClass('isStickybutton');
			}
		});
	</script>
	

</head>
<body class="vbox" ng-app="myApp" ng-controller="mainController">
<header class="nav-header">
	<div class="container">
		<a href="/"><img src="/images/logo.jpg" width="40px" height="40px" style="position: fixed;top:3px;left:calc(50% - 20px);"></a>
	<div class="nav">
		<div class="home-nav">
		<a href="/"><span class="hint--bottom hint--rounded " aria-label="Home"><i class="material-icons">home</i></span></a>
		</div>
			<div class="notification-nav">
		<span class="hint--bottom hint--rounded " aria-label="You have no unread notifications."><i class="material-icons">notifications_none</i></span>
	</div>
	<div class="dropdown" ng-class="{'friendpanel': friendrequestpanel}">
		<span class="hint--bottom hint--rounded dropbtn" aria-label="Friend Requests" ng-click="friendrequestpanel=!friendrequestpanel"><i class="material-icons">people_outline</i></span>
		<div class='beeper-nub'></div>
		<div class="dropdown-content">
			<div class="request">
				<img src="/images/avatar.png" height="48px" width="48px"/>
				<div class="request-details vbox">
					<span class="request-title">Jayesh N</span>
					<span class="request-tag"><span class="tag">Web Dev</span></span>
				</div>
				<div class="accept btn">Accept</div>
			</div>
		</div>
	</div>
	<a href="/chat">
	<div class="chat-nav">
			<span class="hint--bottom hint--rounded " aria-label="Chat"><i class="material-icons">chat</i></span></a>
	</div>

	</div>
	<div class="profile-input">
		<div class="search">
			<form class="search-form" action="/user" method="get">
				<input type="search" id="search-input" name="searchinput" placeholder="Search by Username" />
				<span class="search-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" fill="#7289DA"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg></span>
			</form>
			<div class="header-profile dropdown-logout" ng-class="{'logout': logout}" ng-click="logout=!logout">
				<img src="/images/avatar.png" width="32px" height="32px" style="cursor:pointer;border-radius: 3px;">
				<div class='beeper-nub'></div>
				<div class="dropdown-content-logout">
					<a href="/users/logout"><div class="request-title">Log out</div></a>
				</div>
			</div>
		</div>
	</div>
</div>
</header>
<div class="container-main">
	<div class="left-profile-about" >
		<div class="profile-card">
			<img src="/images/avatar.png" class="card-img" width="32px" height="32px" style="border-radius: 3px;"/>		
			<div class="card-username">sudhanshu127</div>
			<button class="btn-follow" type="submit" aria-label="Follow this person" title="Follow sakshamsharma" style="font-family:Whitney Medium;border:none">Connect</button>
		</div>
		<div class="profile-pic"><img src="images/avatar.png" width="230px" height="230px"></div>
		<div class="profile-name">Sudhanshu Bansal</div>
		<div class="profile-username">sudhanshu127</div>
		<div class="about-profile-text">Coder. Hacker. Functional Programmer. Security. IIT Kanpur CSE.</div>
		<button class="btn" type="submit" aria-label="Follow this person" title="Follow sudhanshu127" style="font-family:Whitney Medium;margin-top:20px;width: 229px;">
            Connect
          </button>
	</div>
	<div class="details" >
		<div id="sticker">
			<nav id="nav"><ul>
			<li class="active"><a href="#About">About</a></li>
			<li ><a href="#Education">Education</a></li>
			<li><a href="#Skills">Skills</a></li>
			<li><a href="#Accomplishments">Accomplishments</a></li>
			<li><a href="#Language">Language</a></li>
		</ul></nav></div>
		<div class="content-details">
			<div id="About" class="container_">
				<div style="font-family:Whitney SemiBold;padding-bottom:8px;">About</div>
				Aerospace Enthusiast with hands-on soft skills like Marketing, Economics, Buisness and Management.
			</div>
			<div id="Experience" class="container_">
				<div style="font-family:Whitney SemiBold;padding-bottom:8px;">Experience</div>
				Experienced Business Development Manager with a demonstrated history of working in the consumer goods industry. Currently working for Kellogg's Tolaram as Area Sales Manager of Africa's largest noodles brand Indomie and Hypo bleach in Lagos state of Nigeria. Skilled in Market Research, Marketing and Data analysis. Strong sales professional with a Master of Business Administration (M.B.A.) focused in Marketing and Strategy from Indian Institute of Management, Bangalore.
			</div>
			<div id="Skills" class="container_">
				<div style="font-family:Whitney SemiBold;padding-bottom:8px;">Skills</div>
			</div>
			<div id="Accomplishments" class="container_">
				<div style="font-family:Whitney SemiBold;padding-bottom:8px;">Accomplishments</div>
			</div>
			<div id="Language" class="container_">
				<div style="font-family:Whitney SemiBold;padding-bottom:8px;">Language</div>
			</div>
		</div>

	</div>
</div>
<div style="height: 1000px;"></div>
<div class="container">
<footer class="footer hbox" style="border-top: 1px #e1e4e8 solid !important;">
	<div class="container-footer ">
		© 2018 Conectar, Inc.
	</div>
</footer>
</div>
</body>
</html>